<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Admin Page</title>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="../../css/styles.css" rel="stylesheet" />
	</head>
	<body>
		<div class="d-flex" id="wrapper">
			<!-- Sidebar-->
			<div class="border-end bg-white" id="sidebar-wrapper">
				<div class="sidebar-heading border-bottom bg-light">
					Admin Page
				</div>
				<div class="list-group list-group-flush">
					<a
						class="list-group-item list-group-item-action list-group-item-light p-3"
						href="/admin/user/1"
						>회원 관리</a
					>
					<a
						class="list-group-item list-group-item-action list-group-item-light p-3"
						href="/admin/board/1"
						>게시물 관리</a
					>
					<a
						class="list-group-item list-group-item-action list-group-item-light p-3"
						href="/admin/service/1"
						>예약 관리</a
					>
				</div>
			</div>
			<!-- Page content wrapper-->
			<div id="page-content-wrapper">
				<!-- Page content-->
				<div class="container-fluid">
					<h1 class="mt-4">게시물 관리</h1>
					<div class="content-wrap" style="margin: 30px">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col" class="th-num">번호</th>
									<th scope="col" class="th-title">제목</th>
									<th scope="col" class="th-author">
										작성자
									</th>
									<th scope="col" class="th-date">
										작성시간
									</th>
									<th scope="col" class="th-delete">삭제</th>
								</tr>
							</thead>
							<% for(var i=(page * page_num) - page_num; i < (page
							* page_num); i++) { if(i> length){ i++; }else{ var
							data = rows[i] %>
							<tr>
								<td><%= i + 1 %></td>
								<td>
									<a
										style="float: left"
										href="/board/read/<%= data._id %>"
										><%= data.title %></a
									>
								</td>
								<td><%= data.author %></td>
								<td>
									<%=
									moment(data.time).format('YYYY-MM-DDhh:mm:ss')
									%>
								</td>
								<td>
									<a
										href="/admin/board/delete/<%= data._id %>"
									>
										<button class="btn btn-dark">
											삭제
										</button>
									</a>
								</td>
							</tr>
							<% } } %>
						</table>
						<div>
							<br /><br /><br />
							<ul class="pagination justify-content-center">
								<% for(var j=0; j < rows.length / page_num;
								j++){ %>
								<li class="page-item">
									<a
										class="page-link"
										href="/admin/board/<%= j + 1 %>"
									>
										<%= j + 1 %>
									</a>
								</li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JS-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
