<!DOCTYPE html>
<html>

<head>
    <%- include ('./include/head2.ejs') %>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.css">
        <script src="/css/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="wrap">
        <header>
            <%- include ('./include/header.ejs') %>
        </header>


        <nav class="locationNav">
            <ol>
                <li><a href="./" title="홈 바로가기"></a></li>
                <li><a href="/board/page/1">공지사항</a></li>
            </ol>
        </nav>

        <section class="subContainer">

            <h2 class="titSub">공지사항</h2>
            <div class="subContent">
                <div>
                    <div></div>
                    </h3>
                </div>
            </div>
            <div class="sub-container">
                <div class="content-wrap" style="margin: 30px;">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="th-num">번호</th>
                                <th scope="col" class="th-title">제목</th>
                                <th scope="col" class="th-author">작성자</th>
                                <th scope="col" class="th-date">작성시간</th>
                            </tr>
                        </thead>
                        <% for(var i=(page * page_num) - page_num; i < (page * page_num); i++) { if(i> length){
                            i++;
                            }else{
                            var data = rows[i]

                            %>
                            <tr>
                                <td>
                                    <%= data._id %>
                                </td>
                                <td><a style="float:left" href="/notice/read/<%= data._id %>">
                                        <%= data.title %>
                                    </a>

                                </td>
                                <td>
                                    <%= data.author %>
                                </td>
                                <td>
                                    <%= moment(data.time).format('YYYY-MM-DD hh:mm:ss') %>
                                </td>
                            </tr>
                            <% } } %>
                    </table>

                    <div style="float:right; margin-right:30px;">
                        <% if (user=="admin" ) { %>
                            <a class="btn btn-secondary" href="/notice/form_notice"
                                style="font-size: 15px; margin: 15px;">글쓰기</a>
                            <% } %>


                    </div>
                    <div>
                        <br><br><br>
                        <ul class="pagination justify-content-center">
                            <% for(var j=0; j < rows.length / page_num; j++){ %>
                                <li class="page-item"><a class="page-link" href="/board/page/<%= j + 1 %>">
                                        <%= j + 1 %>
                                    </a></li>
                                <% } %>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/select2/select2.min.js"></script>
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <script src="vendor/countdowntime/countdowntime.js"></script>
        <script src="js/main.js"></script>

        <footer style="border-top: 1px solid #e2e2e2;
        padding: 72px 0;
        background-color: #303030;
        color: #fff;
        font-family: 'NanumSquareL';">
            <%- include ('./include/footer.ejs') %>
        </footer>



    </div>
</body>

</html>