<!DOCTYPE html>
<html>

<head>
	<%- include ('./include/index_head.ejs') %>
</head>

<body>

	<div id="wrap">
		<header>
			<!-- main class mainHead -->
			<%- include ('./include/header.ejs') %>
		</header>
		<nav class="locationNav">
			<ol>
				<li><a href="./" title="홈 바로가기"></a></li>
				<li><a href="/board/page/1">자유게시판</a></li>
			</ol>
		</nav>
		<section class="subContainer">
			<div style="width: 40%; height: auto; background-color: #F2F0F0; margin: 0 auto; margin-bottom: 20px;padding-bottom: 20px; outline: 1px ridge rgba(0, 0, 0, 0);
			border-radius: 2rem; border: 1px solid rgb(0, 0, 0);">
				<h2 class="titSub" style="font-size: 60px;">
					<%=results.title%>
				</h2>
				<div class="subContent">
					<div>
						<div style="font-size: 15px; text-align: left; padding-left: 10%;">
							작성자: <%=results.author%> <br>등록일: <%= moment(results.time).format('YYYY년 MM월 DD일 HH시mm분') %>
						</div>

					</div>
				</div>
			</div>
			<div class="sub-container">

				<div class="content-wrap" style="margin: 10px;">
					<div style="width: 40%; height: 500px auto; background-color: #F2F0F0; margin: 0 auto; margin-bottom: 20px;padding-bottom: 20px; outline: 1px ridge rgba(0, 0, 0, 0);
					border-radius: 2rem; border: 1px solid rgb(0, 0, 0);">

						<input type="hidden" name="idx" value="<%=results._id%>" />



						<h3 style="font-size: 20px; text-align: left; padding: 20px;">
							<%-results.content%>
						</h3>

						<td><a style="font-size: 20px;" href='/board/download/uploads/images/<%= results.filename%>'>
								<%= results.filename%>
							</a>
						</td>

					</div>


					<div style="margin: 30px; margin-right: 75px;">
						<a href="/board/page/1" class="signup"
							style="border: 0px; font-size: 20px; margin-left: 20px; color: #333;">
							<button type="button" class="btn btn-outline-dark" style="font-size: 18px;">
								목록
							</button>
						</a>
						<a href="/board/update/<%=results._id%>" class="signup"
							style="border: 0px; font-size: 20px; margin-left: 20px; color: #333;">
							<button type="button" class="btn btn-outline-dark" style="font-size: 18px;">
								수정
							</button>
						</a>
						<a href="/board/delete/<%=results._id%>" class="signup"
							style="border: 0px; font-size: 20px; margin-left: 20px; color: #333;">
							<button type="button" class="btn btn-outline-dark" style="font-size: 18px;">
								삭제
							</button>
						</a>
					</div>


					<table border="1" style="margin-left: 450px;width: 50%; border: 1px solid #dddddd;" class="table">
						<thead style="background-color: #999;">
							<tr>
								<td>
									댓글
								</td>
							</tr>
						</thead>

						<% for(var i=0; i < length+1; i++) { if(i> length){
							i++;
							}else{
							var data = comment_results[i]
							%>
							<tr>
								<td style="text-align: left;">
									<div style="font-size: 20px;">
										<%= data.content %>

									</div>
									<br>
									<br>
									작성자: <%= data.author %>
										<div style="text-align:right"><a href="#" class="signup"
												style="border: 0px; font-size: 20px; margin-left: 20px; color: #333;">
												<button type="button" class="btn btn-outline-dark"
													style="font-size: 18px;">
													수정
												</button>
											</a>
											<a href="#	" class="signup"
												style="border: 0px; font-size: 20px; margin-left: 20px; color: #333;">
												<button type="button" class="btn btn-outline-dark"
													style="font-size: 18px;">
													삭제
												</button>
											</a>
										</div>
								</td>

							</tr>
							<% } } %>

					</table>

					<form action="/board/comment_form/<%=results._id%>" method="post">
						<table border="1"
							style="margin-top:40px; margin-left: 450px;width: 50%; text-align: center; border: 1px solid #dddddd; font-size: 15px;">
							<thead>
								<tr>
									<th colspan="2" style="background-color: #eeeeee; text-align: center;">
										댓글 작성
									</th>
								</tr>
							</thead>
							<td>
								<textarea name="content" id="content" cols="30" rows="4" required></textarea>
							</td>
							</tr>

						</table>
						<br>
						<button type="submit" class="btn btn-outline-dark" style="font-size: 18px; margin-right: 40px;">
							작성
						</button>
					</form>
				</div>
			</div>
		</section>



		<footer>
			<%- include ('./include/footer.ejs') %>
		</footer>



	</div>

</body>

</html>