<!DOCTYPE html>
<html>

<head>
    <%- include ('./include/head2.ejs') %>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.css">
        <script src="/css/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="wrap">
        <header>
            <%- include ('./include/header.ejs') %>
        </header>

        <nav class="locationNav">
            <ol>
                <li><a href="./" title="홈 바로가기"></a></li>
                <li><a href="/board/page/1">서비스 예약</a></li>
            </ol>
        </nav>

        <section class="subContainer">

            <h2 class="titSub">서비스 예약</h2>
            <div class="subContent">
                <div>
                    <div></div>
                    </h3>
                </div>
            </div>
            <div class="sub-container"
                style="margin-bottom: 20px; padding: 30px; max-width: 700px; background-color: #DDDDDD;">
                <div class="content-wrap" style="margin: 30px;">

                    <form action="/service" method="post" style="font-size: 18px;">
                        <fieldset>
                            <legend style="text-align: center; font-size: 25px;">예약자 정보</legend>
                            <div style="text-align: left;margin-left: 37%;">
                                이름 : <%= userinfo.username %><br>
                                    아이디 : <%= userinfo.id %><br>
                                        연락처 : <%= userinfo.phonenumber %><br>
                            </div>


                        </fieldset>
                        <br>
                        <fieldset name="time">
                            <legend style="text-align: center; font-size: 25px;">서비스 예약 시간</legend>
                            <input type="date" id="date" name="date" />
                        </fieldset>
                        <br>
                        <legend style="text-align: center; font-size: 25px;">서비스 선택</legend>
                        <fieldset name="menu" style="text-align: left; margin-left:37%">

                            <label><input type="checkbox" name="service_1" value="DigitalCleaning" id="service_1"
                                    style="appearance: auto; "> 디지털청소 서비스</label><br>
                            <label><input type="checkbox" name="service_2" value="PrivacyService" id="service_2"
                                    style="appearance: auto;"> 개인정보 서비스</label><br>
                            <label><input type="checkbox" name="service_3" value="CleaningSolution" id="service_3"
                                    style="appearance: auto;"> 청소 솔루션</label><br>
                            <label><input type="checkbox" name="service_4" value="SmartSystem" id="service_4"
                                    style="appearance: auto;">
                                스마트 시스템</label><br>
                            <br>

                        </fieldset>

                        <legend style="text-align: center; font-size: 25px;">요청사항</legend>
                        <textarea cols="50" rows="5" id="comment" name="comment"></textarea>
                        <br>
                        <input type="submit">
                        <button type="button" class="btn btn-outline-dark" style="font-size: 18px; margin-top: 10px;"
                            type="submit">
                            신청
                        </button>
                    </form>



                </div>
            </div>
        </section>

        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/select2/select2.min.js"></script>
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <script src="vendor/countdowntime/countdowntime.js"></script>
        <script src="js/main.js"></script>

        <footer style="border-top: 1px solid #e2e2e2;
        padding: 72px 0;
        background-color: #303030;
        color: #fff;
        font-family: 'NanumSquareL';">
            <%- include ('./include/footer.ejs') %>
        </footer>



    </div>
</body>

</html>