<!DOCTYPE html>
<html>
	<head>
		<%- include ('./include/index_head.ejs') %>
	</head>

	<body>
		<div id="wrap">
			<header>
				<!-- main class mainHead -->
				<%- include ('./include/header.ejs') %>
			</header>

			<form
				id="Form"
				action="/board/update/<%=results._id%>"
				method="post"
				style="
					margin-top: 100px;
					margin-right: 400px;
					margin-left: 300px;
				"
			>
				<table
					width="400"
					class="table table-striped"
					style="text-align: center; border: 1px solid #dddddd"
				>
					<thead>
						<tr>
							<th
								colspan="2"
								style="
									background-color: #eeeeee;
									text-align: center;
								"
							>
								게시물 수정
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input
									type="text"
									class="form-control"
									name="title"
									id="title"
									size="10"
									maxLength="50"
									value="<%=results.title%>"
								/>
							</td>
						</tr>
						<tr>
							<td>
								<textarea
									name="content"
									class="form-control"
									id="content"
									cols="200"
									rows="5"
									style="height: 400px"
								>
                                    <%=results.content%>
                                </textarea>
							</td>
						</tr>
					</tbody>
					<tr>
						<td>
							<input
								type="submit"
								class="btn btn-primary pull-right"
								value="수정하기"
							/>
						</td>
					</tr>
				</table>
			</form>

			<footer><%- include ('./include/footer.ejs') %></footer>
		</div>
	</body>
</html>
